@model IEnumerable<(SeaBattle.Domain.Game game, bool withBot)>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @foreach (var gameDetails in Model)
    {
        <div>
            <a href="/game.html?gameid=@gameDetails.game.GameId&playerid=@gameDetails.game.Attacker.PlayerId">Play as Attacker</a> |
            <a href="/game.html?gameid=@gameDetails.game.GameId&playerid=@gameDetails.game.Defender.PlayerId">Play as Defender</a>
        </div>
    }
    <div>
        <a asp-action="Create">Create</a> |
        <a asp-action="Create" asp-route-withbot="true">Create with Bot</a>
    </div>
</div>
</body>
</html>